/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 50;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

/* LAYOUT STYLES */
body {
  font-size: 1em;
  line-height: 1.5;
  background: #e7e7e7 url(../images/body-bg.png) 0 0 repeat;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  color: #6d6d6d;
}

a {
  color: #d5000d;
}
a:hover {
  color: #c5000c;
}



#container {
  background: transparent url(../images/highlight-bg.jpg) 50% 0 no-repeat;
  min-height: 595px;
}

.inner {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 40%;
  margin-top:-100px;
  text-align: center;
}




/* GENERAL ELEMENT TYPE STYLES */

h1 {
  font-size: 70px;
  color: #d5000d;
  font-weight: bold;
}

h1.yes {
  color: #3B8D21;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  color: #303030;
  margin-bottom: 8px;
}

footer {
  background: transparent url('../images/hr.png') 50% 0  no-repeat;
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 13px;
  color: ##6d6d6d;
}

footer a {
  color: #6d6d6d;
}
footer a:hover {
  color: #aaa;
}
.calendar {
  display: none;
}

.show_calendar, .show_calendar:hover {
  -webkit-box-shadow: rgba(255, 255, 255, 0.0980392) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.247059) 0px 1px 5px 0px;
background-color: rgb(0, 109, 204);
background-image: linear-gradient(#EF5E67, #d5000d);
background-repeat: repeat-x;
box-shadow: rgba(255, 255, 255, 0.0980392) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.247059) 0px 1px 5px 0px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
color: rgb(255, 255, 255);
cursor: pointer;
display: inline-block;
font-size: 16px;
font-weight: 200;
height: 16px;
line-height: 16px;
padding: 10px 24px ;
text-align: center;
text-decoration: none;
text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
}

.show_calendar:hover {
  background: #d5000d;
  }